extends layout

block content  
	h1= title
		p Click on generate PDF link to Generate PDF using NodeJS and Express
		table.table.table-hover.table-striped.table-bordered
			thead
				tr
					th #
					th FirstName
					th LastName
					th extension
					th email
					th Action
			tbody
				-for(var i = 0; i < data.length; ++i) {
				tr
					th(scope='row') #{i+1}
					td #{data[i]['firstName']}
					td #{data[i]['lastName']}
					td #{data[i]['extension']}
					td #{data[i]['email']}
					td
						a(href="/employee?id="+data[i]['id'])| Generate PDF
				- }